# --- Build Directories ---
/build/
/bin/
/out/

# --- IDEs and Editors ---
.vscode/
.idea/
*.swp
*.swo

# --- Compiled Binaries & Objects ---
programacion1
*.out
*.app
*.o
*.obj
*.so
*.dylib
SDL2.dll

# --- Temporary / Lock Files ---
.~lock.*#
.DS_Store
Thumbs.db

# --- CMake specifics ---
CMakeCache.txt
Favoritos.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile
install_manifest.txt
build-win/SDL2.dll
build-win\
